@model IEnumerable<LvModel.View.Tumblr.TumblrModel>
@{
    ViewBag.Title = "首页";
}

<div>
    @foreach (var tumblr in Model)
    {
        <div id="@tumblr.Id" class="container-tumblr" pk="@tumblr.PartitionKey" rk="@tumblr.RowKey">
            <img class="img-tumblr lazy" data-original="@tumblr.MediaUri" alt="" />
            <div class="content">
                <p class="text-tumblr">@tumblr.Text</p>
                <p class="date-tumblr">@tumblr.CreateTime</p>
                <button type="button" class="btn btn-default btn-favorite" pk="@tumblr.PartitionKey" rk="@tumblr.RowKey"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button>
                <a class="btn btn-default pull-right" href="@tumblr.Uri"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
            </div>
            <hr class="hr-tumblr" />
        </div>
    }
    <div class="container-block">
        <button type="button" class="btn btn-default btn-block">加载更多</button>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jquerylazy")
    @Scripts.Render("~/bundles/business")
    <script>
        (function () {
            $(function () {
                $("img.lazy").lazyload({
                    effect: "fadeIn"
                });

                getFavoriteIndex("@ViewBag.MediaType", "@ViewBag.From", "@ViewBag.To", function (data) {
                    $(".btn-favorite").each(function () {
                        var btnCur = $(this);
                        var rk = btnCur.attr("rk");
                        if (data[rk]) {
                            btnCur.addClass("btn-selected");
                        }
                    });
                });

                $(".btn-favorite").on("touchend", function (event) {
                    var btnCur = $(event.currentTarget);
                    if (!btnCur.hasClass("btn-selected")) {
                        btnCur.addClass("btn-selected");
                        favorite($(event.currentTarget).attr("pk"), btnCur.attr("rk"), function () {
                        });
                    } else {
                        btnCur.removeClass("btn-selected");
                        unFavorite($(event.currentTarget).attr("pk"), btnCur.attr("rk"), function () {
                        });
                    }
                });
            });
        })();
    </script>
}
