@using LvModel.Common
@using LvService.Utilities
@model LvModel.View.Tumblr.TumblrsModel
@{
    ViewBag.Title = "首页";
}

<div id="div_content" class="g-doc">
    @Html.React("Lv.TumblrContainerBox", new
    {
        dataContext = Model,
        tableNameOfFavorite = LvConstants.TableNameOfFavorite,
        tableNameOfTumblr = LvConstants.TableNameOfTumblr,
        tableNameOfComment = LvConstants.TableNameOfComment
    })
</div>

@section scripts
{
    @Scripts.Render("~/bundles/home")
    <!--React-->
    @Html.ReactInitJavaScript()
    <!--React end-->
    @*<script>
            (function() {
                "use strict";
                var dataContext = @Html.Raw(Model.ToJsonString());
                dataContext.tableNameOfFavorite = "@LvConstants.TableNameOfFavorite";
                dataContext.tableNameOfTumblr = "@LvConstants.TableNameOfTumblr";
                dataContext.tableNameOfComment = "@LvConstants.TableNameOfComment";

                lv.tumblr.initialize(dataContext);
            })();
        </script>*@
}
