@using LvModel.Common
@using LvService.Utilities
@model LvModel.View.Tumblr.TumblrsModel
@{
    ViewBag.Title = "首页";
}

<div id="div_tumblrs" class="g-doc">

</div>

@section scripts
{
    <script>
        (function() {
            "use strict";
            lv.dataContext = @Html.Raw(Model.ToJsonString());
            lv.dataContext.tableNameOfFavorite = "@LvConstants.TableNameOfFavorite";
            lv.dataContext.tableNameOfTumblr = "@LvConstants.TableNameOfTumblr";
        })();
    </script>
    @Scripts.Render("~/bundles/home")
    <!--React-->
    <script src="@Url.Content("~/Scripts/lv.tumblr.jsx")"></script>
    <!--React end-->
}
