@model LvModel.View.Comment.CommentModel
@{
    ViewBag.Title = "评论";
}
<div>
    <img class="img-tumblr" src="@Model.MediaUri" alt="" />
    <div class="content">
        <p class="text-tumblr">@Model.Text</p>
        <p class="date-tumblr">@Model.CreateTime</p>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button>
    </div>
    <div class="content">
        <div class="input-group box-comment">
            <input id="txb_comment" type="text" class="form-control txb-comment" placeholder="评论">
            <span class="input-group-btn">
                <button id="btn_send" class="btn btn-default" type="button">评论</button>
            </span>
        </div><!-- /input-group -->
        <div id="div_comments">
            @foreach (var comment in Model.Comments)
            {
                <div>
                    <hr class="hr-comment" />
                    <a>@comment.UserName</a>
                    <p class="date-comment pull-right">@comment.CommentTime.ToString("d")</p>
                    <p class="text-comment">@comment.Text</p>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script>
        (function() {
            var txb = $("#txb_comment");
            var cms = $("#div_comments");
            $("#btn_send").click(function() {
                var text = txb.val();
                if (text.trim()) {
                    $.post("@String.Format("/api/v1/comments/{0}/{1}", @Model.PartitionKey, @Model.RowKey)",
                    {
                        "Text": text
                    }).done(function(data, textStatus, jqXHR) {
                        switch (jqXHR.status) {
                        case 201:
                            cms.prepend($("<div></div>").
                                append($("<hr></hr>").addClass("hr-comment")).
                                append($("<a></a>").text(data.UserName)).
                                append($("<p></p>").addClass("date-comment pull-right").text("刚刚")).
                                append($("<p></p>").addClass("text-comment").text(data.Text)));
                            txb.val("");
                            break;
                        case 200:
                            var res = $.parseJSON(jqXHR.getResponseHeader("X-Responded-JSON"));
                            if (res.status === 401) {
                                $(location).attr("href", res.headers.location.replace(/(ReturnUrl=)(.+)/, "$1" + encodeURIComponent(location.pathname)));
                            }
                            break;
                        default:

                        }
                    });
                }
            });
        })();
    </script>
}