@model LvModel.View.Comment.CommentModel
@{
    ViewBag.Title = "评论";
}
<div>
    <img class="img-tumblr" src="@Model.MediaUri" alt="" />
    <div class="content">
        <p class="text-tumblr">@Model.Text</p>
        <p class="date-tumblr">@Model.CreateTime</p>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button>
    </div>
    <div class="content">
        <div class="input-group box-comment">
            <input type="text" class="form-control txb-comment" placeholder="评论">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">评论</button>
            </span>
        </div><!-- /input-group -->
        @foreach (var comment in Model.Comments)
        {
            <div>
                <hr class="hr-comment" />
                <a>@comment.UserName</a>
                <p class="text-comment">@comment.Text</p>
            </div>
        }
    </div>
</div>